:root {
  --color-sky: oklch(0.8 0.2 240);
  --color-ocean: oklch(0.8 0.5 250);
  --color-mint: oklch(0.8 0.2 170);
  --color-forest: oklch(0.8 0.2 150);
  --color-sun: oklch(0.8 0.2 65);
  --color-sand: oklch(0.8 0.4 65);
  --color-rose: oklch(0.8 0.3 25);
  --color-cherry: oklch(0.8 0.4 25);
  --color-grape: oklch(0.8 0.2 300);
  --color-lavender: oklch(0.8 0.2 280);
  --color-coal: oklch(0.6 0 0);
  --color-stone: oklch(0.2 0 0);
}

[data-theme="dark"] {
  --color-sky: oklch(0.9 0.2 240);
  --color-ocean: oklch(0.9 0.5 250);
  --color-mint: oklch(0.9 0.2 170);
  --color-forest: oklch(0.9 0.2 150);
  --color-sun: oklch(0.9 0.2 65);
  --color-sand: oklch(0.9 0.4 65);
  --color-rose: oklch(0.9 0.3 25);
  --color-cherry: oklch(0.9 0.4 25);
  --color-grape: oklch(0.9 0.2 300);
  --color-lavender: oklch(0.9 0.1 280);
  --color-coal: oklch(0.9 0 0);
  --color-stone: oklch(0.7 0 0);
}
