@import "tailwindcss";
@import "./style/custom-colors.css";
@import "./style/custom-styles.css";

@plugin "daisyui" {
  themes:
    light --light,
    dark --dark,
    cupcake;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-base-100: oklch(98% 0.02 240);
  --color-base-200: oklch(0.98 0.0108 256.69);
  --color-base-300: oklch(0.96 0.0227 241.88);
  --color-base-content: oklch(0.3932 0.0574 240.41);
  --color-primary: oklch(0.6158 0.2014 256.33);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(0.71 0.134 224.19);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(52% 0.2 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(57% 0.0574 240.41);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 1 210);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: dark;
  --color-base-100: oklch(12% 0.01 240);
  --color-base-200: oklch(16% 0.015 240);
  --color-base-300: oklch(20% 0.02 240);
  --color-base-content: oklch(92% 0.01 240);
  --color-primary: oklch(0.6158 0.2014 256.33);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(65% 0.15 220);
  --color-secondary-content: oklch(98% 0.01 220);
  --color-accent: oklch(65% 0.2 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(0.7433 0.0574 240.41);
  --color-neutral-content: oklch(95% 0.01 240);
  --color-info: oklch(70% 0.2 190);
  --color-info-content: oklch(10% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(10% 0.01 140);
  --color-warning: oklch(90% 0.1904 80);
  --color-warning-content: oklch(10% 0.01 80);
  --color-error: oklch(75% 0.3 30);
  --color-error-content: oklch(10% 0.01 30);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-IranYekan: var(--local-font-IranYekan), sans-serif;

  --color-sky: var(--color-sky);
  --color-ocean: var(--color-ocean);
  --color-mint: var(--color-mint);
  --color-forest: var(--color-forest);
  --color-sun: var(--color-sun);
  --color-sand: var(--color-sand);
  --color-rose: var(--color-rose);
  --color-cherry: var(--color-cherry);
  --color-grape: var(--color-grape);
  --color-lavender: var(--color-lavender);
  --color-coal: var(--color-coal);
  --color-stone: var(--color-stone);

  --shadow-elevated:
    0px 2px 4px 0px #00000066, 0px 7px 6px -3px #0000004d,
    inset 0px -3px 0px 0px #00000033;

  --animate-gradient: gradient 8s ease-in-out infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer components {
  .wave {
    position: absolute;
    width: 100%;
    top: -100px;
    height: 100px;
    background: url(/wave.svg);
    background-size: 1000px 110px;
  }

  #wave1 {
    bottom: 0px;
    animation: animate 4s linear infinite;
  }
  #wave2 {
    opacity: 0.5;
    bottom: 10px;
    animation: animate2 4s linear infinite;
  }
  #wave3 {
    opacity: 0.2;
    bottom: 15px;
    animation: animate 3s linear infinite;
  }
  #wave4 {
    opacity: 0.7;
    bottom: 20px;
    animation: animate2 3s linear infinite;
  }

  @keyframes animate {
    0% {
      background-position: 1000px;
    }
    100% {
      background-position: 0px;
    }
  }

  @keyframes animate2 {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: 1000px;
    }
  }
}

/* Base styles (Light Mode) */
.fc-header-toolbar {
  display: flex;
  padding: 4px 4px;

  @apply justify-center space-x-8;
}

/* حذف margin زیاد روزها که باعث اسکرول افقی می‌شد */
.fc-day {
  @apply m-1; /* یا حتی m-0, هر چقدر که زیباتره */
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white dark:bg-base-100;
}

.fc-theme-standard {
  --fc-button-bg-color: var(--color-primary);
  --fc-button-border-color: var(--color-primary);
  --fc-button-text-color: var(--color-primary-content);

  --fc-button-hover-bg-color: color-mix(
    in oklch,
    var(--color-primary) 85%,
    black 15%
  );
  --fc-button-hover-border-color: var(--fc-button-hover-bg-color);

  --fc-button-active-bg-color: color-mix(
    in oklch,
    var(--color-primary) 70%,
    black 30%
  );
  --fc-button-active-border-color: var(--fc-button-active-bg-color);
}

.fc-theme-standard {
  --fc-today-bg-color: color-mix(
    in oklch,
    var(--color-primary) 12%,
    transparent
  );
  --fc-highlight-color: color-mix(
    in oklch,
    var(--color-primary) 16%,
    transparent
  );
}
